extends layout.pug

append styles
    link(rel="stylesheet", href="/styles/contact.css")

prepend scripts
    //-script(src="/scripts/FILENAME.js")

block content
    //-CONTENT
    section#contacts
        h2 Get in contact

        h3 Email: email@mail.com
        h3 Phone: (+61)234 555 789