extends layout.pug

append styles
    link(rel="stylesheet", href="/styles/contact.css")

prepend scripts
    //-script(src="/scripts/FILENAME.js")

block content
    //-CONTENT
    section
        h1.title Get in contact
        form(action="/messageSent", method="get" onsubmit="this.submit(); this.reset(); return false;")
            .form-group
                label(for="name") Name
                input#name(type="text" name="name")
            .form-group
                label(for="name") Email
                input#email(type="email" name="email")
            .form-group
                label(for="name") Subject
                input#subject(type="text" name="subject")
            .form-group
                label(for="name") Message
                textarea#message(cols="30", rows="10" name="message")
            .form-group
                input#button(type="submit", value="send")    
    section#info
        h4 Phone number: (+61)234 555 798
        h4 Some other infomation
        h4 Yeeee