extends layout.pug

append styles
    link(rel="stylesheet", href="/styles/EditPortfolioTimelineSlider.css")
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet')
prepend scripts
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js')
    script(src="/scripts/EditPortfolioTimelineSlider.js")

block content
    head
        meta(charset='utf-8')
    title Get coordinates of the mouse pointer
        meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
    section
    div#map
    
        pre#info.




    
    
    
    
    
  

