extends layout.pug

prepend styles
    link(rel="stylesheet", href="/styles/index.css")

prepend scripts
    script(src="/scripts/index.js")

block content
    section#research
        a.card(href="https://www.aif.adfa.edu.au/index.html")
            img(src="/assets/aif_logo.jpg", alt="")
            h3 AIF Project
            p The AIF database is drawn from a range of official sources, including personalfiles on the National Archives website, and Embarkation and Nominal Rolls on the Australian War Memorial website.
        a.card(href="")
            img(src="/assets/awm_logo.jpg", alt="")
            h3 Australian War Memorial
            p The Memorial's purpose is to commemorate the sacrifice of those Australians who have died in war. Its mission is to assist Australians to remember, interpret and understand the Australian experience of war and its enduring impact on Australian society.
        a.card(href="")
            img(src="/assets/naa_logo.jpg", alt="")
            h3 National Archives Australia
            p The National Archives of Australia can best be described as the memory of our nation – collecting and preserving Australian Government records that reflect our history and identity.
        a.card(href="")
            img(src="/assets/trove_logo.png", alt="")
            h3 Trove
            p Trove helps you find and use resources relating to Australia. Trove brings together content from libraries, museums, archives, repositories and other research and collecting organisations big and small.


