doctype html
html
    head
        title My School Remembers
        block styles     
            link(rel="stylesheet", href="/styles/style.css")
    body
        header
            #title
                a(href="/")
                    img#logo(src="assets/msr_logo.png", alt="The My School Remembers logo, a rainbow pinwheel")
                    h1.text-shadow MY SCHOOL<br/>REMEMBERS
            ul.nav.box-shadow
                a.nav-item(href="/")
                    p.nav-content HOME
                a.nav-item(href="/about")
                    p.nav-content ABOUT
                a.nav-item(href="/search") 
                    p.nav-content SEARCH
                div.dropdown
                    button(class="dropbtn") EDUCATION
                        div(class="dropdown-content")
                            a(href="/login") Student
                            a(href="/") Teacher                  
                a.nav-item(href="/contact")
                    p.nav-content CONTACT
                a.nav-item(href="/portfolio")
                    p.nav-content PORTFOLIO
                

        content
            .container
                block content
        footer
            ul.nav.shadow
                a.nav-item(href="/privacy")
                    p.nav-content Privacy Policy
                .nav-item 
                    p.nav-content &copy; 2018 My School Remembers
        block scripts
            script(src="/scripts/global.js")
