doctype html
html
    head
        title= title
        block styles     
            link(rel="stylesheet", href="/styles/style.css")
            link(href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet")
    body
        header
            #title
                a(href="/")
                    img#logo(src="assets/msr_logo.png", alt="The My School Remembers logo, a rainbow pinwheel")
                    h1.text-shadow MY SCHOOL<br/>REMEMBERS
            ul.nav.box-shadow
                a.nav-item(href="/")
                    p.nav-content HOME
                a.nav-item(href="/")
                    p.nav-content ABOUT
                a.nav-item(href="/search") 
                    p.nav-content SEARCH
                a.nav-item(href="/")
                    p.nav-content EDUCATION
                a.nav-item(href="/")
                    p.nav-content CONTACT
        content
            .container
                block content
        footer
            ul.nav.shadow
                a.nav-item(href="/")
                    p.nav-content Privacy Policy
                .nav-item 
                    p.nav-content &copy; 2018 My School Remembers
        block scripts
            script(src="/scripts/global.js")
            //-Bootstrap js//
            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin="anonymous")
            script(src="/bootstrap/min.js")
