doctype html
html
    head
        title= title        
        link(rel="stylesheet", href="/styles/style.css")
        //-Materialize css
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/materialize/min.css", type="text/css", media="screen,projection")
    
    body
        header.center-align
            #title
                a(href="/")
                    img#logo(src="assets/msr_logo.png", alt="The My School Remembers logo, a rainbow pinwheel")
                h1 MY SCHOOL<br/>REMEMBERS
            nav.nav-wrapper
                ul.nav-mobile
                    li
                     a(href="/") HOME
                    li
                     a(href="/") ABOUT
                    li
                     a(href="/") EDUCATION
                    li
                     a(href="/") CONTACT
        .container
            block content

        footer
            h2 and so are things in the footer
        block scripts
            script(src="/scripts/global.js")
            //-Materialize js
            script(src="/materialize/min.js")