extends layout.pug

append styles
    link(rel="stylesheet", href="/styles/login.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
        crossorigin="anonymous")
  

prepend scripts
    script(src="/scripts/login.js")

block content
    //-CONTENT-STARTS-HERE-//
    body
        section
            h1 Login Below
            form.form(method='post', action='/login')
                div#params
                    .param.username 
                        label.labelE(style='font-weight:bold') Login Code
                        //-email box below-//
                        input.email(type='text', name='form_username', placeholder='') 
                    .param.password                
                        label.labelP(style='font-weight:bold') Password
                        //-password box -//
                        input#password.password(type='password', name='form_password', placeholder='')
                //-<i class="fas fa-eye btn-show-hide-pwd"></i>
                i#btn-show-hide-pwd(class="fas fa-eye btn-show-hide-pwd", data-for="password")
                //-login button-//
                input.submit(action="/student_dashboard", method="get" type='submit', value='LOGIN', class='button', style='font-weight:bold')

        
        
