form{
    width: 100%;
}
#params{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.param{
    width: 24%;
}
.param input{
    display: block;
    font-size: 24px;
    width: 100%;
    text-align: left;
}
.param label *{
    margin: 0;
    padding-left: 2.5%;
}
#search-btn{
    display: block;
    width: 200px;
    margin: 10px auto 0 auto;
}
h2{
    margin: 15px 0;
}
table{
    width: 100%;
    border-spacing: 1em .5em;
    font-size: 16px;
}
thead{
    text-align: center;
}
.regNumber{
    width: 15%;
}
.name{
    width: 25%;
}
.address{
    width: 30%;
}
.battalion{
    width: 30%;
}
td.regNumber{
    text-align: right;
    padding-right: 1em; 
}
td a{
    color: #1a0dab;
}
td:hover a{
    text-decoration: underline;
}