/*--RESEARCH-LINKS--*/
#links {
    display: table;
}
.card{
    display: table-cell;
    width: 25%;
}
.card:hover{
    background-color: #ffffff;
    transition: background-color .2s;
    transition: transform .2s;
    box-shadow: 0px 2px 3px #919191;
}
.card img{
    width: 84%;
    margin: 8% 8% 0 8%;
    border-radius: 20px;
    box-shadow: 0px 1px 3px 1px #919191;
}
.card h2{
    text-align: center;
    vertical-align: middle;
    min-height: 2.3em;
    padding: 5px 10px 5px 10px;
    margin: 0;
    font-size: 1.2em
}
.card p{
    padding: 5px 10px 10px 10px;
    margin: 0;
    text-align: center;
    font-size: 14px;
}
@media (max-width: 1000px){
    .card h2{
        font-size: 1em; 
    }
    .card p{
       font-size: 13px; 
    }
}
