.container{
    display: inline-block;
    max-width: none;
    width: 100%;
}

#mapSide{
    float: left;
    width: 42%;
    margin-left: 6%;
    height: 100%;
    overflow: auto;

    background-color: aqua
}

#infoSide{
    float: right;
    overflow: hidden;
    background-color: lightgreen;
    margin-right: 6%;
    width: 42%;
}

#map{
    visibility: visible;
    
    height: 550px;
}

#mapFootnote{
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 6px;
    font-family: monospace;
}



#imageDiv{
    
    padding: 2%;
    display: block;
    float: left;
    width: 41%;
    max-height: 300px;
    background-color: antiquewhite;
}

#basicInfo img{
    max-height: 300px;
    height: 100%;
    width: 100%;
    box-shadow: none;
}

#information{
    padding: 2%;
    width: 41%;
    height: 300px;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: indianred;
}

#information h4{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 1px;
}

h4#data{
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 3px;
    padding-left: 20%;
    width: 100%;
}

#timeline{
    width: 42%;
    background-color: aquamarine;
    position: absolute;
}

#text h3{
    text-align: center;
    position: relative;
    left: 0%;
    background-color: lavender;
    width: 8%;
    margin-left: 7.6%;
    margin-bottom: 3px;
    margin-top: 6px;
    font-size: 100%;
    font-family: monospace;
}

/* The slider itself */
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin-left: 10%;
    width: 80%; /* Full-width */
    margin-right: 10%;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
#slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 4%; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slideshow{
    width: 96%;
    height: 800px;
    margin: 2%;
}

#titleBar{
    text-align: right;
    margin-right: 6%;
    margin-left: 6%;
}

#vetName{
    font-size: 28px;
    float: left;
    margin-top: 6px;
    margin-left: 5%;
}

#titleBar ul{
    list-style: none;
    position: relative;
    height: 40px;
}

#titleBar .nav{
    text-align: right;
}

#titleBar .nav-item .nav-content{
    margin-top: 12px;
}

#titleBar .nav .nav-item:hover{
    background-color:#E7B56B;
    transition: background-color .3s;
}

#video{
    width: 100%;
    height: 60%;
    left: 60%;
    margin-top: 5%;
}
