body{
    background-color: rgb(106, 106, 106)
}

.container{
    display: inline-block;
    max-width: none;
    width: 100%;
}

#mapSide{
    float: left;
    width: 40%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 6%;
    height: 98%;
    overflow: auto;
    background-color: rgb(149, 157, 167);
}

#slidesSide{
    float: right;
    overflow: hidden;
    background-color: rgb(149, 157, 167);
    margin-right: 6%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 40%;
    height: 100%;
}

#map{
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 7px;
    visibility: visible;
    display: block;
    height: 500px;
}

#portfolioComponent{
    width: 94%;
    height: 229px;
    background-color: rgb(154, 217, 240);
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 14px;
    padding-bottom: 14px;
}


#mapComponent{
    background-color: rgb(154, 217, 240);
    border-radius: 15px;
}

#mapFootnote{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-family: monospace;
}

#profileImage{
    float: left;
    height: auto;
    max-height: 229px;
    max-width: 100%;
    box-shadow: none;
    border-radius: 15px;
}

#information{
    width: 46%;
    height: 230px;
    float: right;
    border-radius: 15px;
}

#information h4{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 1px;
}

h4#data{
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 3px;
    text-align: right;
    /*padding-left: 20%;*/
    width: 100%;
}

#timeline{
    border-radius: 15px;
    position: relative;
}

#text h3{
    text-align: center;
    position: relative;
    left: 0%;
    width: 8%;
    margin-left: 7.6%;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 100%;
    font-family: monospace;
}

/* The slider itself */
#slider {
    border-radius: 15px;
    margin-bottom: 8px; 
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin-left: 10%;
    width: 80%; /* Full-width */
    margin-right: 10%;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 1.9px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 21.2px;
    cursor: pointer;
    box-shadow: 0px 0px 6.5px rgba(0, 0, 0, 0.36), 0px 0px 0px rgba(13, 13, 13, 0.36);
    background: rgba(106, 106, 106, 0.7);
    border-radius: 6px;
    border: 1.7px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 9.2px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 25px;
    width: 11px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(157, 157, 157, 0.7);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 21.2px;
    cursor: pointer;
    box-shadow: 0px 0px 6.5px rgba(0, 0, 0, 0.36), 0px 0px 0px rgba(13, 13, 13, 0.36);
    background: rgba(106, 106, 106, 0.7);
    border-radius: 6px;
    border: 1.7px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 9.2px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 25px;
    width: 11px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 21.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(55, 55, 55, 0.7);
    border: 1.7px solid #000000;
    border-radius: 12px;
    box-shadow: 0px 0px 6.5px rgba(0, 0, 0, 0.36), 0px 0px 0px rgba(13, 13, 13, 0.36);
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(106, 106, 106, 0.7);
    border: 1.7px solid #000000;
    border-radius: 12px;
    box-shadow: 0px 0px 6.5px rgba(0, 0, 0, 0.36), 0px 0px 0px rgba(13, 13, 13, 0.36);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 9.2px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 25px;
    width: 11px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 21.2px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(106, 106, 106, 0.7);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(157, 157, 157, 0.7);
  }
  
  
  

.slideshow{
    border-radius: 15px;
    width: 100%;
}

#titleBar{
    text-align: right;
    margin-bottom: 15px;
}

#vetName{
    font-size: 32px;
    float: left;
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 5%;
}

#titleBar ul{
    list-style: none;
    position: relative;
    height: 40px;
}

#titleBar .nav{
    text-align: right;
}

#titleBar .nav-item .nav-content{
    margin-top: 12px;
}

#titleBar .nav .nav-item:hover{
    background-color:#E7B56B;
    transition: background-color .3s;
}

#video{
    width: 100%;
    height: 60%;
    left: 60%;
    margin-top: 5%;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
}