#search{
    color: #333330;
}
.title{
    font-size: 31.5px;
    text-align: center;
    margin: 5px;
}
#search form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#search-box{
    width: 86%;
    height: 40px;
}
input[type="search"]{
    font-size: 30px;
}
#search-btn{
    width: 14%;
}
table{
    border-spacing: 0.5em;
}
thead{
    text-align: center
}
.regNumber{
    text-align: right;
}
.name{
    text-align: left;
}